<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/mailtemplates/css/style.css')}" />
</head>

<body>
    <div class="row padding-bottom50">
        <div class="col-md-8 col-md-offset-2">
             <a href="${tg.url('/mailtemplates')}" class="pull-right mail-templates-back"> Back to dashboard</a>
             <div class="clearfix"></div>
            ${form.display(values)}
        </div>
    </div>
</body>
</html>
