#hello_box {
    font-style: italic;
    color: red;
}


.card-table td:first-child{
    padding-left: 15px;
}

.card-table pre {
    position: relative;
    overflow-y: scroll;
    height: 200px;
    white-space: pre-wrap;
}

.panel-model .panel-heading{
    font-size: 24px;
}

.card-table .body-preview {
    position: relative;
}

.btn-edit {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.mail-templates-title{
    font-size: 36px;
    margin-bottom: 20px;
    display: inline-block;
}

.btn-create-translation{
    margin-right: 5%;
}

.btn-edit-translation{
    padding: 6px 22px;
}

.btn-send-test-email{
     margin-left: 10px;
}
